.SecondaryButton {
  /*min-width: 84px;*/
  height: 28px;
  background: #ffffff 0% 0% no-repeat padding-box;
  text-align: left;
  font: normal normal 600 12px/17px Open Sans, sans-serif;
  letter-spacing: 0px;
  color: #606060;
  border: 1px solid #338ed1;
  border-radius: 3px;
  opacity: 1;
  display: block;
  /* padding-top: 5px;*/
  width: auto;
}
.SecondaryButtonText {
  text-align: left;
  font: normal normal 600 12px/18px Open Sans, sans-serif;
  letter-spacing: 0.18px;
  color: #0072c6;
  opacity: 1;
  vertical-align: text-top;
}
.PrimaryButton {
  border: 1px solid #0072c6;
  height: 28px;
  width: auto;
  background: #0072c6 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  text-align: center;
  font: normal normal 600 12px/17px Open Sans, sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
}
.CancelButton {
  height: 28px;
  width: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  text-align: center;
  color: #606060;
  font: normal normal 600 12px/17px Open Sans, sans-serif;
  letter-spacing: 0px;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.PrimaryButton,
.SecondaryButton,
.CancelButton:hover {
  cursor: pointer;
}

button:focus {
  outline: 1px solid #338ed1 !important;
}
